{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="error-scene">
    <div>
      <div class="error-code" data-code="500">500</div>
      <div class="error-title">{% trans %}Internal Server Error{% endtrans %}</div>
      <div class="error-sub">{{ error }}</div>
      <div class="error-sub">A rift tore open in the multiverse. Reality is unstable.</div>
      <a href="{{ url_for('views.static_html', route='/') }}" class="error-home">Escape</a>
    </div>
  </div>
</div>

{% endblock %}
